.post-item {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 1em;
  overflow: hidden;

  &__header {
    padding: 0.8em 1em;
    background-color: rgba(188, 143, 143, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    margin-right: 1em;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__meta {
    h3 {
      margin-bottom: 0.2em;
    }

    span {
      font-size: 0.9em;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.post-content {
  padding: 1em;

  &__title {
    margin-bottom: 0.5em;
  }

  &__body {
    p {
      text-overflow: initial;
    }
  }
}
